/app/config/parameters.yml
/bin/*
!bin/console
/composer.phar
/composer.lock
/src/Resources/public/
/var/
/vendor/
/public/css/
/public/images/
/public/js/
/public/bundles/

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
